<ion-header>
    <ion-toolbar color="primary">
        <ion-title>
            OOBA
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-row>
        <div class="container">
            <div class="form">
                <form>
                    <ion-input type="text" name="to" placeholder="where to...."></ion-input>
                </form>
            </div>
            <div *ngIf="lat && lng" class="map">
                <agm-map [latitude]="lat" [longitude]="lng">
                    <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
                </agm-map>
            </div>
        </div>
    </ion-row>
</ion-content>